.container {
  margin-top: 96px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  padding: 0 24px;
}

.loading {
  margin-top: 96px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  position: absolute;
  padding: 0 24px;
  background: 
        url("https://ipfs.thirdwebcdn.com/ipfs/Qmeo7AYZK6eQoweWa6BV36XcxUqncmEidcTLfF48H3Yd45/Spinner-1s-200px%20(1).gif") center
        no-repeat;

}

.minting {
  background: rgba(217, 183, 245, 0.1);
  width: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 1px solid rgba(46, 44, 44, 0.4);
  box-shadow: 0 0 18px 0 #82919b; 
}

.wallet {
  color:#f3f0f3 !important;
  background: #3C1B32 !important;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari iOS */
  transform: translate(-50%, -50%); /* Rest of browsers */

  background-color: black;
  width: 100px;
  height: 100px;
}

.staking {
  background: rgba(217, 183, 245, 0.1);
  width: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid rgba(46, 44, 44, 0.4);
  box-shadow: 0 0 18px 0 #82919b; 
}

.h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 3rem;
  margin-bottom: 0px;
  color:#3C1B32;
  text-shadow: rgb(49, 49, 49) 0.05em 0.05em 0.05em;
}

.explain {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 1.125rem;
  max-width: 1200px;
}

.divider {
  width: 50%;
  border-color: grey;
  opacity: 0.25;
}

.smallDivider {
  width: 25%;
  border-color: grey;
  margin-top: 64px;
  opacity: 0.25;
}



.nftBoxGrid {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
  gap: 1%;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.nftBox {
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  min-height: 300x;
  padding: 10px;
  margin-top: 10px;
  height: 250px;
  max-width: 200px;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-bottom: 25px;
  cursor: pointer;
}

.nftBox h3 {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  font-family: cursive;
  text-shadow: 0.1em 0.1em 0.2em #ffdbf5;
  
}



.nftBox .nftMedia {
  transition: transform 0.3s ease-in-out;
}

.selected {
  transform: scale(1.1);
  border: 1px solid #ffdbf5;
  animation: glowing-border 1.5s infinite;
}

.selected .nftMedia {
  transform: scale(1.1);
}

.optionSelectBox {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 48%;
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}


/* Keyframes for select border aniamtion*/
@keyframes glowing-border {
  0% {
    box-shadow: 0 0 5px #ffdbf5;
  }
  50% {
    box-shadow: 0 0 10px #ffdbf5, 0 0 20px #8008b7;
  }
  100% {
    box-shadow: 0 0 5px #ffdbf5;
  }
}




.selectBoxTitle {
  font-size: 3rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.selectBoxDescription {
  font-size: 1rem;
  color: rgba(55, 54, 54, 0.9);
  margin-top: 0px;
}

/* Between 1200 and 800 */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .nftBox {
    width: 49%;
    margin-top: 16px;
  }
}

/* beneath 800
*/
@media only screen and (max-width: 800px) {
  .nftBoxGrid {
    justify-content: center;
  }
  .nftBox {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox {
    width: 90%;
    margin-top: 16px;
  }
}

.tokenGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 1600px;
  max-width: 95vw;
  flex-wrap: wrap;
  margin: 16px 0;
}

.tokenItem {
  width: 25%;
  height: 120px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(46, 44, 44, 0.4);
  gap: 16px;
}

.tokenLabel {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  color: rgba(36, 34, 34, 0.7);
}

/* Second tokenLabel item */

.tokenValue {
  font-size: 1.3rem;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 500;
}

/* On Mobile, make tokenGrid 100% width */
@media only screen and (max-width: 850px) {
  .tokenItem {
    width: 90%;
    margin-top: 12px;
  }
}

/* Screen less than 630, then hide .center */
@media only screen and (max-width: 630px) {
  .center {
    display: none;
  }
}

.spacerTop {
  margin-top: 16px;
}

.bigSpacerTop {
  margin-top: 32px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.detailPageHr {
  margin-top: 0px;
  margin-bottom: 32px;
}

.nftMedia {
  max-width: 140px;
  max-height: 140px;
  border-radius: 15px;
}




.quantityControlButton {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid rgb(68, 67, 67);
  color: #595858;
}

.quantityContainer {
  width: 200px;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

